* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

html{
  
    max-height: 100%;
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    /*border: 2px solid white;*/
}


#score-board {
    display: flex;
    justify-content: space-around;
    width: 95%;
    max-width: 2000px;
    color: greenyellow;
    }


    #time-display{
        background-color:black;
        color: greenyellow;
        border-radius: 15px;
        font-size: 1.5rem;
        border: 2px solid black;
        padding: 2px 2px 2px 2px;
        /* margin-bottom: 5px; */
        font-family: orbitron;
        font-weight: bold;
        flex-wrap: wrap;
        }
        
        #player-score{
            background-color:black;
            color: greenyellow;
            border-radius: 15px;
            font-size: 1.5rem;
            border: 2px solid black;
            padding: 2px 2px 2px 2px;
            /* margin-bottom: 5px; */
            font-family: orbitron;
            font-weight: bold;
            flex-wrap: wrap;
            }


#game-area {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
    grid-template-rows: 200px;
 /* height: 0vh; */
    height: 90%;
    width: 85%;
    max-width: 2000px;
    border-radius:50px;
    background: url(../../assets/images/city-image.jpg);
    background-size: cover; 
    border: 2px solid white;
    cursor:crosshair;
    background-position: center;
    padding-top: 50px;
}


.spaceship{
    /* display: none; */
    height: 80px;
    width: 110px;
    padding: 5px;
    margin: 20px;
    border-radius: 5px;
    background: url(../../assets/images/alien.jpg);
    background-size: cover;
 
    /*  background-size: cover;
  object-fit: contain;
  overflow: hidden;
  */
}

.ufo{
    background: url(../../assets/images/ufo.jpg);
    background-size: cover;
}



#play-btn{
    background-color: greenyellow;
    border-radius: 15px;
    font-size: 1.5rem;
    padding: 3px 10px 3px 10px;
    margin: 5px 3px;
    font-family: orbitron;
    font-weight: bold;
    border: 2px solid black;
}

#play-btn:hover{
    background-color: white;
}

.invisible{
    display: none;
}

.visible{
    display: block;
}



/*.........media queries...............*/

@media screen and (max-width: 480px) {
    #game-area {
        display:flex;
        flex-wrap: wrap;
        justify-content: space-around;
        height: 82%;
        padding: 3px;
        border-radius: 40px;
    }

    #score-board {
        display: flex;
        justify-content: space-around;
        height:10vh;
        font-size: 0.8rem;
        font-weight: normal;
    }

    #time-display{
        font-size: 1.1rem;
    }

    #player-score{
        font-size: 1.1rem; 
    }


.spaceship{
    /* display: none; */
    height: 60px;
    width: 90px;
    padding: 5px;
    margin: 10px;
}

#time-display{
width: 55%;
}
}



/*.........media queries...............*/

@media screen and (max-width: 350px) {
    #game-area {
        height: 80%;
        padding: 3px;
        border-radius: 30px;
        margin-top: 3px;
    }


    #score-board{
      font-size: 0.6rem;
      padding-top: 1px;
      margin-bottom: 2px;
    }
}