* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

html {
    max-height: 100%;
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
}


#score-board {
    display: flex;
    justify-content: space-around;
    width: 95%;
    max-width: 800px;
    color: greenyellow;
}


#time-display {
    background-color: black;
    color: greenyellow;
    border-radius: 15px;
    font-size: 1.5rem;
    padding: 2px 2px 2px 2px;
    font-family: orbitron;
    font-weight: bold;
    flex-wrap: wrap;
}

#player-score {
    background-color: black;
    color: greenyellow;
    border-radius: 15px;
    font-size: 1.5rem;
    padding: 2px 2px 2px 2px;
    font-family: orbitron;
    font-weight: bold;
    flex-wrap: wrap;
}

#game-area {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
    grid-template-rows: 200px;
    /* height: 0vh; */
    height: 90%;
    width: 85%;
    max-width: 98%;
    border-radius: 50px;
    background: url(../../assets/images/zap-background-image4.jpg);
    background-size: cover;
    border: 2px solid white;
    cursor: crosshair;
    background-position: center;
}


.spaceship {
    /* display: none; */
    height: 80px;
    width: 120px;
    padding: 5px;
    margin: 20px;
    border-radius: 5px;
    background: url(../../assets/images/aliens2.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.ufo {
    background: url(../../assets/images/ufo2.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#game-buttons {
    display: flex;
    justify-content: space-around;
    width: 50%;
    max-width: 600px;
}

#about-btn {
    background-color: greenyellow;
    border-radius: 15px;
    font-size: 1.5rem;
    padding: 3px 10px 3px 10px;
    margin: 5px 10px;
    font-family: orbitron;
    font-weight: bold;
}

#about-btn:hover {
    background-color: white;
}

#play-btn {
    background-color: greenyellow;
    border-radius: 15px;
    font-size: 1.5rem;
    padding: 3px 10px 3px 10px;
    margin: 5px 10px;
    font-family: orbitron;
    font-weight: bold;
}

#play-btn:hover {
    background-color: white;
}

.invisible {
    display: none;
}

.visible {
    display: block;
}


/*.................about...............*/

#about-game-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 90%;
    width: 95%;
    max-width: 98%;
    border-radius: 50px;
    background: url(../../assets/images/zap-background-image.jpg);
    background-size: cover;
    cursor: crosshair;
    background-position: center;
}

#about-zap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
    max-width: 800px;
    background-color: black;
    border-radius: 50px;
    color: greenyellow;
    font-family: orbitron;
    letter-spacing: 2px;
    text-align: center;
}

#about-zap>h1 {
    font-size: 4rem;
}

#about-zap>hr {
    height: 4px;
    width: 200px;
    background-color: white;
}









/*.........media queries...............*/
@media screen and (max-width: 1400px) {

    .spaceship {
        width: 100px;
    }
}

    /*.........media queries...............*/

    @media screen and (max-width: 700px) {

        #game-area {
            grid-template-rows: 100px;
            height: 80%;
        }

        .spaceship {
            /* display: none; */
            height: 60px;
            width: 90px;
            padding: 5px;
            margin: 10px;
        }

        #game-buttons {
            max-width: 100%;
        }
    }

        /*.........media queries...............*/

        @media screen and (max-width: 480px) {
            #game-area {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                height: 82%;
                padding: 3px;
                border-radius: 40px;
                width: 96%;
            }

            #score-board {
                display: flex;
                justify-content: space-around;
                height: 8vh;
                font-size: 0.8rem;
                font-weight: normal;
            }

            #time-display {
                font-size: 1.1rem;
            }

            #player-score {
                font-size: 1.1rem;
            }

            .spaceship {
                /* display: none; */
                height: 60px;
                width: 90px;
                padding: 0px;
                margin: 5px;
            }

            #time-display {
                width: 55%;
            }
        }


        /*.........media queries...............*/

        @media screen and (max-width: 350px) {
            #game-area {
                height: 80%;
                width: 98%;
                padding: 3px;
                border-radius: 30px;
                margin-top: 3px;
            }

            #score-board {
                font-size: 0.6rem;
                padding-top: 1px;
                margin-bottom: 2px;

            }
        }